.group-tour-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  text-align: center;
}

h2 {
  margin: 20px 0 10px;
  font-size: 1.5em;
  text-align: center;
  color: #333;
}

.group-tour-cards {
  margin-bottom: 40px;
}

.tour-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tour-card {
  position: relative;
  width: 350px;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

.tour-card * {
  color: white; /* Ensures all nested text is white */
}

.tour-card a {
  text-decoration: none;
}

.tour-card:hover {
  transform: scale(1.05);
}

.tour-card h3 {
  margin: 0;
  font-size: 1.3em;
}

.tour-card p {
  margin: 5px 0 0;
  font-size: 1em;
}

.welcome-content {
  text-align: center;
  margin-top: 40px;
  font-size: 1.1em;
  color: #555;
}
